<!DOCTYPE html>

<html>
    <head>
        <title>
          Encuesta
        </title>
    </head>

<br />
<div class="container">
    <section class="row">
        <div class="col-md-12">
            <h1 class="text-center">Encuesta Vocacional</h1>
              <p> Usuario: <input type="text" name="username" placeholder="Ingresa tu Usuario"> </p>
        </div>
    </section>
    <hr />
    <br />

    <!--  Preguntas  -->
    <section class="row">
        <div class="col-md-12">
            <h3>Preguntas.</h3>
            <p></p>
        </div>
    </section>

    <!--  PREGUNTA   -->
    <section class="row">
        <div class="col-md-12">
            <% @questions.each do |question| %>

            	<p><%= question.number %>. <%= question.name %></p>
            		

				<% question.choices.each do |choice| %>

		            <div class="col-md-12">
			            <label class="radio">		                

			                <input type="radio" name="<%= question.id  %>" id="<%= choice.id  %>" /> <%= choice.text %> 

			        </label>
		        	</div>
		        <% end %>

        	<% end %>
        		
        </div>
    </section>
    <hr />
    <br />
        <section class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-info" id="saveForm" onclick="saveForm">Guardar Encuesta</button>
        <button type="button" class="btn btn-danger" id="clearForm" onclick="cleanForm">Limpiar formulario</button>
      </div>
    </section>
</div>
  <br /><br />
  <footer class="container">
    <p>Todos los derechos reservados para UNRC.</p>
  </footer>
</html>

<script>
function saveForm() {

   
}


</script>