<!DOCTYPE html>

<html>
  <head>
    <link rel="icon" href=https://upload.wikimedia.org/wikipedia/commons/7/73/Ruby_logo.svg type="image/png"/>
    <!--Fuentes-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title> Encuestas </title>
    <style>
      body {
        font-family: 'Roboto', sans-serif;
        background: #ffffff;
      }
      .titulo { 
        color: #5e8b7e ; 
        text-shadow: 3px 3px 6px #dfeeea;
        font-size: 7.1vh;
        margin-left: 40px;
        margin-bottom: 0px;
      }
      .subtitulo { 
        color: #5e8b7e ; 
        text-shadow: 3px 3px 6px #dfeeea;
        font-size: 4.5vh;
        margin-left: 40px;
        margin-bottom: 0px;
      }
      .col-2{
        margin: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .col-1{
        font-size: 4vh;
        color: #2f5d62;
      }
      ul{
        margin-left:40px
      }
      li a{
        text-decoration: none;
        color: #2f5d62;
        font-size: 5vh;
        
      }
      .buttom{
        width: 160px;
        height: 50px;
        border-radius: 12px;
        background: #2f5d62;
        color: #dfeeea ;
        font-size: 2vh;
        margin-left: 80px;
      }
      .input{
        width: 320px;
        height: 40px;
        border-radius: 12px;
        color: #2f5d62 ;
        font-size: 3vh;
        text-align: center
      }
      .cuerpo{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        margin-top: 0px
      }
      .head{
        background:#dfeeea
      }
      #preguntas{
        margin-left:40px;
      }
    </style>
    <title>
      Encuesta
    </title>
</head>
<body class=head>
  <div class="container">
  <form>
      <section class="row">
          <div >
              <h1 class="titulo" >Encuesta Vocacional</h1>
              <hr />
              <h3 class="subtitulo"> Usuario: <input class="input" type="text" id="username" placeholder="Ingresa tu Usuario"> </h3>
              <br />  
      </div>
      </section>
      

      <!--  Preguntas  -->
      <section class="row">
          <div class="subtitulo">
            <p>Preguntas.</p>
            <p></p>
          </div>
      </section>

      <!--  PREGUNTA   -->
      <section class="row" id="preguntas">
        <div class="col-md-12">
          
              <% @questions.each do |question| %>
              <p><%= question.number %>. <%= question.name %></p>
                    
              <% question.choices.each do |choice| %>
              <div class="col-md-12">
                <label class="radio">		                
                  <input 
                    type="radio" 
                    name="<%= question.id  %>" 
                    data-choice-id="<%= choice.id %>"
                    data-choice-text="<%= choice.text %>"
                    data-question-id="<%= question.id %>"
                    data-question-name="<%= question.name %>"
                  /> <%= choice.text %> 
                    </div>
                </label>
                </div>
              <% end %>
            <% end %>
          </div>
      </section>
      <hr />
      <br />
      <section class="row">
        <div class="col-md-12">
          <button class=buttom type="button" class="btn btn-info" id="saveForm" onclick="savedForm()">Guardar Encuesta</button>
        </div>
      </section>
      </form>
  </div>
    <br /><br />
    <footer class="container">
      <p>Todos los derechos reservados para UNRC.</p>
    </footer>
  </html>

  <script>
  
  function getUsername() {
    console.log(document.getElementById('username').value)
    return document.getElementById('username').value;
}

  function savedForm() {
    const inputsInHTML = document.getElementsByTagName('input');
    const inputsInHTMLInArray = Array.prototype.slice.call(inputsInHTML, 0);
    const choicesSelectedInHTML = inputsInHTMLInArray.filter(inputInHTML => inputInHTML.checked);
    const choicesSelected =choicesSelectedInHTML.map(choiceInHTML => ({
      ...choiceInHTML.dataset
    })) ;
    const formComplete={ username:getUsername() , choices:choicesSelected}
    console.log(formComplete.choices.length)
    if (!formComplete || !formComplete.username || formComplete.username.length===0 ){
      
      return alert("El campo de usuario es obligatorio.")

    }
    if (formComplete.choices.length !== 15 ) {
      return alert("Asegurese de haber respondido todas las preguntas antes de continuar.")
    } else {
      
      //crear un registro Survey con el usuario en la BD
      //crear response en la BD con los datos de choicesSelected----> tiene todas las respuestas de las preguntas de la encuesta
      //hacer un for sobre los response comparando con los outcome y guardar en un arreglo de carreras y cantidad la puntuacion que corresponda
      //luego recorrer ese arreglo de carrera y devolver la carrera que mas cantidad/peso tenga
      //guardar en BD el career_id en el surveys que creamos anteriormente
      //mostrar el resultado redirigiendo a una pagina (finish_survey) con el nombre del usuario y el nombre de la carrera


      const xhr = new XMLHttpRequest();
      xhr.open('POST', '/finish_survey');
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send(JSON.stringify(formComplete));
       xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            console.log(this.responseURL);
            window.location.href=this.responseURL;
        }
    };
    }    
}

</script>
</body>
